{% extends "Base.html" %}
{% block title %}
User Profile
{% endblock title %}

{% block body %}
<h1>User Profile</h1>
<h2> Hello {{ user.username }}! </h2>
<p> date joined : {{ user.date_joined }} </p>
{% comment %} <p> Password <a href="{% url 'account:account_change_password' %}">Change</a></p>
<p> Password <a href="{% url 'account_reset_password' %}">Reset</a> </p> {% endcomment %}
<br>
<h3>contact info </h3>
<p>E-mail: <strong>{{ user.email }}</strong></p>
<p>phone: <strong>{{ user.phone_number }}</strong></p>
<br>


<h3> Bookmarked advertisement</h3>
{% for bookmark in bookmarks %}
<li>
    <p> <b>{{bookmark.advertisement.title}}</b> {{ bookmark.advertisement.urgent}} <a href="{% url 'adv-detail' pk=bookmark.advertisement.pk %}">See the advertisement </a></p> 
    <form method="post" action="{% url 'adv-remove-bookmark' bookmark.advertisement.pk %}">
        {% csrf_token %}
        <input type="submit" value="Remove">
    </form>
</li>
{% endfor %}

<h3>Advertisements posted</h3>
{% for adv in advertisements %}

<p> <strong>Title: {{ adv.title }}: </strong>  Category: {{adv.category}} <a href="{% url 'adv-detail' adv.pk %}">See the advertisement </a></p> 

{% endfor %}
<h4>Manage Transactions </h3>
    <a href="{% url 'transaction-manage'  %}" >
        <button>Manage Transactions</button>
    </a>
{% endblock body %}