{% extends 'Base.html' %}
{% block title %}
Advertisements detail
{% endblock title %}
{% block body %}

    <h1>lol</h1>
    <h2>{{ advertisement.title }}</h2>
    <h4>{{ advertisement.description }}</h4>
    <p>price : {{ advertisement.price }}</p>
    <p>location : {{ advertisement.location.city }}</p>
    <p>category: {{ advertisement.category }}</p>
    <p>contact : {{ advertisement.user.phone_number }}</p>

    <img src="{{ advertisement.image.url }}">

    {% if advertisement.user == request.user %}
    <br>    
    <a href="{% url 'adv-update' advertisement.pk %}" >
        <button>Update post</button>
    </a>
    <br>
    <a href="{% url 'adv-delete' advertisement.pk %}" >
        <button>Delete post</button>
    </a>
    {% endif %}

{% endblock %}
