{% extends 'Base.html' %}

{% block title %}
Advvertismentlist
{% endblock title %}

{% block body %}

<h1>Advertisment list</h1>
        <h3> category list</h3>
        {% for cat in category %}

        <ul>

            {% if cat.parent is None %}

                {% if selected_city %}
                
                <li><a href="{% url 'adv-category' selected_city cat.slug %}">{{ cat.title }}</a></li>
                {% else %}
                    <li><a href="{% url 'location-list' %}">select city</a></li>
                {% endif %}

                {% for child in cat.children.all %}
                    <ul>
                        {% if city is None %}
                            <li><a href="#"> {{ child.title }} </a></li>
                        {% else %}
                            <li><a href="#"> {{ child.title }} </a></li>
                        {% endif %}
                    </ul>
                {% endfor %}

            {% endif %}

        </ul>
    {% endfor %}


    {% comment %} <p style="font-weight: bold">Search</p> {% endcomment %}
    <h3> Search</h3>
    <form method="get">
        {{ filter.form.as_p }}
    <input type="submit">
    </form>
    <br>

    <!-- Advertisements -->
    {% for adv in advertisements %}

        <div>
            <h3><a href="{% url 'adv-detail' pk=adv.pk %}">{{ adv.title }}</a></h3>
        </div>
        {% if adv.image %}

            <img src="{{ adv.image.url }}">
        {% endif %}
    {% endfor %}

{%endblock%}

