{% extends 'Base.html' %}
{% block body %}
<h3> Search</h3>
<form method="get">
    {{ filter.form.as_p }}
<input type="submit">
</form>
<br>

{% for transaction in transactions %}

    <p><b>Pakage:{{transaction.package}} </b>Amount: {{transaction.amount}} Created date : {{transaction.created_date}}<br> invoice number : {{transaction.invoice_number}}{{transaction.invoice_number}}</p>
    {% if transaction.status == -10 or  transaction.status == 0  %}
        <a href="{% url 'transaction-confirm' transaction.invoice_number %}" >
            <button>Pay</button>
        </a>
    {% endif %}
    <br<</br>
{% endfor %}
{% endblock body %}
